<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="block1">
					<a href="#"></a>
				</div>
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link active" href="#">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="#">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">



				<div class="t1">
					<h1>申請機能</h1>
					&nbsp;
					<h3>活動内容を申請しましょう。</h3>
					<br>

				</div>
				<div class="t2 col-md-8" style="left: 10%; padding-top: 200px;">
					<form>
						<div class="form-group">
							<br /> <label for="exampleInputPassword1">日にち</label><small
								id="emailHelp" class="form-text text-muted">就職活動を行う日にちを入力してください。</small>
							<input type="date" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="Password"> <br />
							<label for="exampleInputPassword1">開始時間</label><small
								id="emailHelp" class="form-text text-muted">就職活動が始まる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg"
								id="exampleInputPassword1"> <br /> <label
								for="exampleInputPassword1">終了時間</label> <small id="emailHelp"
								class="form-text text-muted">就職活動が終わる時間を入力してください。</small><input
								type="time" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="email">場所（住所もしくは名称）</label><small id="emailHelp"
								class="form-text text-muted">就職活動を行う場所（住所もしくは名称）を入力してください。</small><input
								type="email" class="form-control form-control-lg"
								id="exampleInputEmail1">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">内容</label><small
								id="emailHelp" class="form-text text-muted">就職活動の大まかな内容を選択してください。</small>
							<select name="naiyou" class="form-control form-control-lg">
								<option value="a">合企</option>
								<option value="b">単独</option>
								<option value="c">試験</option>
								<option value="d">その他</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">企業名</label><small
								id="emailHelp" class="form-text text-muted">就職活動を行う企業名を入力してください。</small>
							<input type="password" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="企業名１"><br /> <input
								type="password" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="企業名２"><br /> <input
								type="password" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="企業名３">
						</div>
						<hr />
						
						<div class="form-group f1">
							<br /> <label for="exampleInputPassword1">欠席日</label><small
								id="emailHelp" class="form-text text-muted">学校にいない日にちを選択してください。</small> <input
								type="date" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="Password"> <br />
							
						</div>
						
						<div class="form-group f2">
							<br /> <label for="exampleInputPassword1">早退日</label><small
								id="emailHelp" class="form-text text-muted">早退する日にちを選択してください。</small> <input
								type="date" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="Password"> <br />
							<label for="exampleInputPassword1">早退時間</label> <small
								id="emailHelp" class="form-text text-muted">早退する時間を選択してください。</small><input
								type="time" class="form-control form-control-lg"
								id="exampleInputPassword1"> <br />
						</div>
						<div class="form-group f3">
							<br /> <label for="exampleInputPassword1">遅刻日</label><small
								id="emailHelp" class="form-text text-muted">遅刻する日にちを選択してください。</small> <input
								type="date" class="form-control form-control-lg"
								id="exampleInputPassword1" placeholder="Password"> <br />
							<label for="exampleInputPassword1">遅刻時間</label> <small
								id="emailHelp" class="form-text text-muted">遅刻する時間を選択してください。</small><input
								type="time" class="form-control form-control-lg"
								id="exampleInputPassword1"> <br />
						</div>
						<br/>
						<hr />
						<div class="form-group">
						<br />
							<label for="exampleFormControlTextarea1">メモ</label><small
								id="emailHelp" class="form-text text-muted">就職活動の詳しい内容を入力してください。</small>
							<textarea class="form-control"
								id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>

						<div class="form-group">
						<br/>
							<label for="exampleFormControlTextarea1">教員コメント</label><small
								id="emailHelp" class="form-text text-muted">教員からの指摘内容が表示されます。</small>
							<textarea disabled class="form-control"
								id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>

						<br />
						<button type="submit" class="btn btn-primary btn-lg">申請</button>
						<input type="reset" class="btn btn-secondary btn-lg" /> <br /> <br />

					</form>
				</div>

			</main>
		</div>
	</div>
</body>
</html>