<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<!--
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">会社名</a> <input
			class="form-control form-control-dark w-100" type="text"
			placeholder="検索" aria-label="検索">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<div class="block1">
					<a class="nav-link" href="#">サインアウト</a>
				</div>
			</li>
		</ul>
	</nav>
-->
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="block1">
					<a href="#"></a>
				</div>
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link active" href="#">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="#">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1">



				<div class="t1">
					<h1>申請機能</h1>
					&nbsp;
					<h3>活動内容を申請しましょう。</h3>
					<br>
					<form action="/p1create">
					<button type="submit" class="btn btn-primary btn-lg" >新規作成</button>
					</form>
				</div>
				<div class="t2">
					<div class="col-11 ml-5">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>申請日</th>
									<th>内容</th>
									<th>企業名</th>
									<th>申請ステータス</th>
									<th class="bb"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>11/1</td>
									<td>単独</td>
									<td>企業A</td>
									<td>申請承認済み</td>
									<td><button type="button" class="btn btn-outline-success btn-lg">編集</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-lg">削除</button></td>
								</tr>
								<tr>
									<td>11/2</td>
									<td>単独</td>
									<td>企業B</td>
									<td>申請承認待ち</td>
									<td><button type="button" class="btn btn-outline-success btn-lg">編集</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-lg">削除</button></td>
								</tr>
								<tr>
									<td>11/3</td>
									<td>単独</td>
									<td>企業C</td>
									<td>申請拒否</td>
									<td><button type="button" class="btn btn-outline-success btn-lg">編集</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-lg">削除</button></td>
								</tr>
								<tr>
									<td>11/4</td>
									<td>試験</td>
									<td>企業D</td>
									<td>申請承認待ち</td>
									<td><button type="button" class="btn btn-outline-success btn-lg">編集</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-lg">削除</button></td>
								</tr>
								<tr>
									<td>11/5</td>
									<td>試験</td>
									<td>企業E</td>
									<td>申請承認待ち</td>
									<td><button type="button" class="btn btn-outline-success btn-lg">編集</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-lg">削除</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</main>
		</div>
	</div>
</body>
<!-- 
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<div class="col-md-3" style="background-color: gray;">
				<h1>
					<a href="/"></a>
				</h1>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
				<p>1</p>
			</div>
			<div class="col-md-9" style="background-color: black;">
				<p style="height: 100%;"></p>
			</div>
		</div>
	</div>
</body>
-->
</html>