<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    
<title>jobhunter</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/loginpage.css" th:href="@{/css/loginpage.css}"/>
</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<h1><a href="/"></a></h1>
        
		<form class="form-signin" method="post" th:action="@{/login}" action="/mail/send" style="width: 50%;">
            <div th:if="${param.error}" class="alert alert-warning">
                メールアドレスの形式が間違っています。</div>
            <br>
        	<div class="img01"><img src="/image/signupflow1.png" style="width:50%;"/></div>
            
            <br>
            <p>仮登録メールアドレス<p>
			<p class="form1"><input type="text" class="form-control" id="mailaddress" name="mailaddress"
				placeholder="example@aaa.com(半角英数字)" required="required" autofocus="autofocus" /></p>
            <br><br>
			<p class="form2"><button class="btn btn-lg btn-primary btn-block" type="submit">仮登録</button></p>
            <br>
		</form>
		
	</div>
</body>
</html>