<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>jobhunter</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/loginpage.css"
	th:href="@{/css/loginpage.css}" />

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<h1>
			<a href="/"></a>
		</h1>


		<form class="form-signin" method="post" th:action="@{/signupsub2}" style="width: 50%;">
			<br>
			<div class="img01">
				<img src="/image/signupflow2.png" style="width: 50%;" />
			</div>

			<div th:if="${param.error}" class="alert alert-warning">
				いずれかの項目にミスがあります。</div>

			<div class="form1">
			<p>
				ユーザID<input type="text" class="form-control" id="userid"
					name="userid" placeholder="UserID(半角英数字)" autofocus="autofocus" required="required"/>
			</p>
			<p>
				パスワード<input type="text" class="form-control" id="password"
					name="password" placeholder="password(半角英数8~12文字)"
					autofocus="autofocus" required="required"/>
			</p>
			<p>
				メールアドレス<input type="text" class="form-control" id="mailaddress"
					name="mailaddress" placeholder="example@aaa.com(半角英数字)"
					autofocus="autofocus" required="required"/>
			</p>
			<p>
				名前<input type="text" class="form-control" id="name" name="name"
					placeholder="例：山田太郎(全角文字)" autofocus="autofocus" required="required"/>
			</p>
			</div>

			<br>
			<p class="form2">
				<button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
			</p>
			<br>
		</form>
	</div>
</body>
</html>
