@charset "UTF-8";

* {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro',
		'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック',
		'MS PGothic', sans-serif;
	font-size:medium;
}

/* logo */
.block1 {
	padding: 0px 0px;
}

.block1 a {
	display: block;
	width: 180px;
	height: 120px;
	background: url(/image/JOB-HUNTER.png) left top/180px no-repeat;
	z-index: 10;
	position: fixed;
}

.block2 {
}

.t1 {
	position:fixed;
	display:inline;
	z-index:1000;
	background-color:white;
	width:100%;
	padding-top: 48px;
	padding-left: 48px;
	padding-bottom: 48px;
}

.t2 {
	padding-top: 250px;
}


.t3{
	position:flex;
	padding-bottom:0px;
}

.bb{
	width:15%;
}

ul{
	list-style:none;
}

main{
	height:2000px;
}

/*
 * サイドバー
 */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* ナビゲーションバーの背面 */
	padding: 48px 0 0; /* ナビゲーションバーの高さ */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
	position: fixed;
	top: 0;
	height: auto;
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
}

@
supports ((position: -webkit-sticky ) or (position: sticky )) { .sidebar-sticky
	{ position:-webkit-sticky;
	position: sticky;
}

}
.sidebar .nav-link {
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
	color: inherit;
}
