<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="block1">
					<a href="#"></a>
				</div>
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link active" href="#">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="#">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">



				<div class="t1">
					<h1>トップメニュー</h1>
					&nbsp;
					<h3>ようこそ、〇〇さん</h3>
				</div>
				<div class="t2">
					<a href="https://www.itmedia.co.jp/" class="itm"></a>
				</div>
				<div class="t3">
					<iframe id="forecast_embed" type="text/html" frameborder="0"
						height="245" width="100%"
						src="http://forecast.io/embed/#lat=43.06417&lon=141.34694&
						name=Sapporo&units=si"></iframe>
				</div>
			</main>
		</div>
	</div>
</body>
</html>