<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>jobhunter</title>
<meta charset="utf-8" />

<link rel="stylesheet" href="/css/loginpage.css" th:href="@{/css/loginpage.css}"/>

</head>

<body style="font-family: 'Hannari'">
	<div class="container-fluid" layout:fragment="content">
		<h1>
			<a href="/" style=""></a>
			</h1>
		<form class="form-signin" method="post" th:action="@{/login}"
			action="/login" style="width: 50%;">
			
			<div class="main">
				<h2 class="form-signin-heading"></h2>
			</div>


			<br>

			<div th:if="${param.error}" class="alert alert-danger">
				ユーザー名または、パスワードが正しくありません。</div>
			<div th:if="${param.logout}" class="alert alert-danger">
				ログアウトしました。</div>
			<div class="center">
				<p class="form1">
					<input type="text" class="form-control" id="userid" name="userid"
						placeholder="ユーザID" required="required" autofocus="autofocus" />
				</p>
				<br>
				<p class="form1">
					<input type="password" class="form-control" id="password"
						name="password" placeholder="パスワード" required="required" />
				</p>
				<br>
				<p class="form2">
					<button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
				</p>
				<br>
				<p>
					<a href="/mailconf">アカウント新規作成</a>
				</p>
			</div>
		</form>
	</div>
</body>
</html>