<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>jobhunter</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/loginpage.css" th:href="@{/css/loginpage.css}"/>

</head>

<body>
	<div class="container-fluid" layout:fragment="content">
		<h1>
			<a href="/"></a>
		</h1>
		
		<div class="text text01">
		<form class="form-signin" method="post" 
			style="width: 50%;">
			<h3>どちらか選べ</h3>
			<br>
			
			<a href="/signupsub1" class="nondeco">学生</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/studentconf" class="nondeco">学生(就職学年)</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/teacherconf" class="nondeco">教員</a>
			<br>&nbsp;
			
		</form>
		</div>
	</div>
</body>
</html>
