<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="block1">
					<a href="#"></a>
				</div>
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link active" href="#">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="#">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="#">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">



				<div class="t1">
					<h1>報告機能</h1>
					&nbsp;
					<h3>就職試験の内容を報告しましょう。</h3>
					<br>

				</div>
				<div class="t2 col-md-8" style="left: 10%; padding-top: 250px;">
					<form>
						<label>企業を知ったきっかけ</label><br />
						<div class="form-group">

							<input type="checkbox">&nbsp;学校斡旋&nbsp;&nbsp; <input
								type="checkbox">&nbsp;ネット&nbsp; &nbsp; <input
								type="checkbox">&nbsp;新聞・雑誌&nbsp;&nbsp; <input
								type="checkbox">&nbsp;ジョブカフェ
						</div>
						<div class="form-group">
							<br />
							<label>企業名</label>
							<small class="form-text text-muted">就職活動を行う企業名を入力してください。</small>
							<input type="text" class="form-control form-control-lg">
							<br />
							<label>先頭カナ３文字</label>
							<small class="form-text text-muted">企業名の先頭３文字をカタカナで入力してください。</small>
							<input type="text" class="form-control form-control-lg" maxlength="3">
							<br />
							<label>日にち</label>
							<small class="form-text text-muted">就職活動を行う日にちを入力してください。</small>
							<input type="text" class="form-control form-control-lg">
							<br />
							<label>開始時間</label>
							<small class="form-text text-muted">就職活動が始まる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg">
							<br />
							<label>終了時間</label>
							<small class="form-text text-muted">就職活動が終わる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg">
							<br />
							<label>受験場所（住所もしくは名称）</label>
							<small class="form-text text-muted">就職試験を受験する場所（住所もしくは名称）を入力してください。</small>
							<input type="email" class="form-control form-control-lg">
							<br />
							<label>内容１</label>
							<small class="form-text text-muted">就職試験の段階を選択してください。</small>
							<select name="naiyou" class="form-control form-control-lg">
								<option value="a">１次試験</option>
								<option value="b">２次試験</option>
								<option value="c">３次試験</option>
								<option value="d">最終試験</option>
							</select>
							<br />
							<label>内容２</label>
							<small class="form-text text-muted">就職試験の大まかな内容を選択してください。</small>
							<select name="naiyou" class="form-control form-control-lg">
								<option value="e">適性</option>
								<option value="f">筆記・作文</option>
								<option value="g">ディスカッション</option>
								<option value="h">グループワーク</option>
							</select>
							<br />
							<label>内容３</label>
							<small class="form-text text-muted">就職試験の種類を選択してください。</small>
							<select name="naiyou" class="form-control form-control-lg">
								<option value="i">個人面接</option>
								<option value="j">集団面接</option>
								<option value="k">その他</option>
							</select>
							<br />
							<label>企業名</label>
							<small class="form-text text-muted">就職活動を行う企業名を入力してください。</small>
							<input type="text" class="form-control form-control-lg" placeholder="企業名１">
							<br />
							<input type="text" class="form-control form-control-lg" placeholder="企業名２">
							<br />
							<input type="text" class="form-control form-control-lg" placeholder="企業名３">
							<br />
						</div>
						<hr />
						<br />
						<label>結果通知</label>
						<small class="form-text text-muted">いつまでに結果が通知されるかを入力してください。</small>
						<input type="date" class="form-control form-control-lg">
						<br />
						<label>面接官人数</label>
						<small class="form-text text-muted">面接官の人数を入力してください。</small>
						<input type="number" class="form-control form-control-lg">
						<br />
						<label>面接時間</label>
						<small class="form-text text-muted">面接にかかった時間を入力してください。</small>
						<input type="time" class="form-control form-control-lg">
						<br />
						<hr />
						<div class="form-group">
							<br />
							<label for="exampleFormControlTextarea1">出題内容（質問された内容）</label>
							<small class="form-text text-muted">面接などで聞かれたことや試験の詳しい内容を入力してください。</small>
							<textarea class="form-control" rows="3"></textarea>							
							<br />
							<label for="exampleFormControlTextarea1">教員コメント</label>
							<small class="form-text text-muted">教員からの指摘内容が表示されます。</small>
							<textarea disabled class="form-control" rows="3"></textarea>
						</div>

						<br />
						<button type="submit" class="btn btn-primary btn-lg">申請</button>
						<input type="reset" class="btn btn-secondary btn-lg" /> <br /> <br />

					</form>
				</div>

			</main>
		</div>
	</div>
</body>
</html>